.container
  %h4 ACTIVITY FEED
  .row
  %p Information by Hour / #{link_to "Information by Minute", root_path}
  - @event_collections.each do |collection|
    %hr
    %p #{collection[0]}:
    - group_events_by_type(collection[1]).each do |event_type, events|
      %p= build_events_by_type(event_type, events)